{% load static %}
{% load my_tags %}
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img src="{{ object.preview|mymedia}}" alt="Будет картинка">
            <div class="card-body">
                <h2>{{ object.date }}{{ object.time }}</h2>
                <p>{{ object.total_price }}</p>
                <a href="{% url 'orders:order_info' object.pk %}"
                   class="btn btn-primary">Подробно</a>
                <a href="{% url 'orders:order_update' object.pk %}"
                   class="btn btn-primary">Изменить</a>
                <a href="{% url 'orders:order_delete' object.pk %}"
                   class="btn btn-primary">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
